body {
  background-color: #ffd0bd;
  font-family: cambria;
}

h1 {
  color: #056b68;
}

h3 {
  color: #8f8f8f;
}

hr {
  border-color: #ff723a;

  border-style: none none dotted none;
  border-width: 5px;
  width: 7%;
}

html{
  font-size: large;
}
